@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
html{
    scroll-behavior: smooth;
    height: 100%;
}
/*

.navbar{
    position:fixed;
    top:0;
    width: 100%;
}
*/

.nav-al ul {
   list-style: none;
   text-align: center;
}

.nav-al ul li {
   display: inline-block;
}
.content-left{
    border-right: 1px solid;
    border-right-color: black;
}

.content-right{
    padding-left: 30px;
    border-left: 1px solid;
    border-left-color: black;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color:black;
    height: 100%;
}

.zoom{
    overflow: hidden;
    
}
.zoom img{
    transition: all 1.5s ease;
}
.zoom:hover img{
    transform: scale(1.2);
}


.card-text-color{
    color: black;
}

.flex-even{
    flex 1;
}

#home{
    background-color: white;
}

#projects{
    background-color: white;
}



#work{
    background-color: white;
}



/*

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
}
*/
